body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header,
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

footer {
    margin-top: auto; /* Push the footer to the bottom */
}

/* Add some additional styles for content if needed */
main {
    flex: 1;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 10px;
    padding: 8px;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}
