body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

header,
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

footer {
    margin-top: auto; /* Push the footer to the bottom */
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h2 {
    color: #333;
}

form {
    display: grid;
    gap: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #007bff;
    width: 100%; /* Set equal width */
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 10px; /* Add margin for spacing between buttons */
    color: #fff;
}

input[type="submit"]:hover {
    background-color: #fff;
}
